.btnlight{
    padding: 0.5rem 3rem;
    color: var(--light-main-brown-text);
    font-size: 1rem;
    border-radius: 3rem;
    background: var(--light-main-background);
    border: 0.1rem solid var(--light-main-brown-text);
    cursor: pointer;
    margin: 0 1rem 1.5rem 1rem;
}

.btnlight:hover{
    transition: ease 0.3s;
    background: var(--light-entry-button-hover);

}
.btndark{
    padding: 0.5rem 3rem;
    color: var(--dark-main-background);
    font-size: 1rem;
    border-radius: 3rem;
    background: var(--dark-entry-button);
    border: 0.1rem solid var(--dark-main-background);
    cursor: pointer;
    margin: 0 1rem 1.5rem 1rem;
}

.btndark:hover{
    transition: ease 0.3s;
    background: var(--dark-entry-button-hover);

}