.btnlight{
    padding: 0.2rem;
    border-radius: 30%;
    border: 0.2rem solid var(--light-main-brown-text);
    background: var(--light-checkbox);
    color: var(--light-main-brown-text);
    margin: 0.1rem;
}
.btnlight:hover{
    transition: ease 0.3s;
    background: var(--light-task-button-hover);
    cursor: pointer;
}

.btndark{
    padding: 0.2rem;
    border-radius: 30%;
    border: 0.2rem solid var(--dark-main-gray-text);
    background: var(--dark-task-button);
    color: var(--dark-main-gray-text);
    margin: 0.1rem;
}
.btndark:hover{
    transition: ease 0.3s;
    background: var(--dark-task-button-hover);
    cursor: pointer;
}