.ChangeThemeButton{
    color: var(--change-theme);
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0.3rem;
    font-size: 1rem;
}
.ChangeThemeButton:hover{
    text-shadow:0 0 7px var(--change-theme-hover);
    transition: ease 0.3s;
}
