.mainContainer {
    width: 20vh;
    height: 20vh;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    color: var(--day-container-color);
    border: 0.2rem solid var(--day-container-color);
    background: var(--day-container-background);
}

.today{
    margin: 0;
    height: 5vh;
    margin-top: 4vh;
}
.selected {
    width: 20vh;
    height: 20vh;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background: var(--day-selected);
    border: 0.2rem solid var(--day-selected);
    color: var(--day-selected-text)
}


.mainContainer :hover{
    cursor: pointer;
}
.selected:hover{
    cursor: pointer;
}

.day{
    margin-bottom: 0.5vh;
}
.month{
    margin: 0;
    margin-bottom: 2vh;
}