.entryInput{
    padding: 0.5rem 1rem;
    color: var(--entry-input-color);
    font-size: 1rem;
    border-radius: 3rem;
    background: var(--entry-input-background);
    border: 0.1rem solid var(--entry-input-color);
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}
.entryInput:hover{
    background: var(--entry-input-hover);
    transition: 0.3s ease;
    cursor: pointer;
}

.entryInputError{
    padding: 0.5rem 1rem;
    color: red;
    font-size: 1rem;
    border-radius: 3rem;
    background: var(--error-entry-input);
    border: 0.1rem solid red;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}
.entryInputError:hover {
    cursor: pointer;
}