.btn{
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
    border: 0.15rem solid var(--task-config-button-color);
    background: var(--task-config-button);
    color: var(--task-config-button-color);
    margin: 0.1rem;
    font-size: 1.3rem;
}
.btn:hover{
    transition: ease 0.3s;
    background: var(--task-config-button-hover);
    cursor: pointer;
}