.btn{
    padding: 0.2rem;
    border-radius: 30%;
    border: 0.2rem solid var(--task-button-color);
    background: var(--task-button-background);
    color: var(--task-button-color);
    margin: 0.1rem;
}
.btn:hover{
    transition: ease 0.3s;
    background: var(--task-button-hover);
    cursor: pointer;
}