.roundsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 5vh;
}

.roundDone {
    width: 2vh;
    height: 2vh;
    background: green;
    border-radius: 50%;
    margin: 0 0.5vw;
}
.roundUndone{
    width: 2vh;
    height: 2vh;
    background: red;
    border-radius: 50%;
    margin: 0 0.5vw;

}