:root {
    --error-entry-input: #fce7e7;
    --checkbox-disabled: #8d6842;
    --light-main-background: #fff4e9;
    --light-main-brown-text: #231203;
    --dark-main-gray-text: #959595;
    --dark-main-background: #110515;
}

.dark{
    --day-selected: #863c05;
    --day-selected-text: var(--dark-main-background);
    --day-container-color: var(--day-selected);
    --day-container-background: var(--dark-main-background) ;
    --checkbox: #63207d;
    --task-time: #4d5250;
    --task-border: var(--dark-main-gray-text);
    --task-done-round: #7c6585;
    --task-undone-round: #460f59;
    --task-button-color:var(--dark-main-gray-text);
    --task-button-background: #34253a;
    --task-button-hover: #1f0c25;
    --change-theme: var(--task-done-round);
    --change-theme-hover: var(--task-done-round);
    --entry-button-color:  var(--dark-main-background);
    --entry-button-background: #b47ccb;
    --entry-button-hover: #5c3a6c;
    --main-button: #dc3d00;
    --main-button-color: var(--dark-main-background);
    --main-button-shadow: rgba(41, 31, 36, 0.58);
    --main-change-theme-color: var(--dark-main-gray-text);
    --main-change-theme-background: var(--task-button-background);
    --main-change-theme-border: var(--dark-main-background);
    --sign-button-color: var(--dark-main-background);
    --sign-button-background: #c0864c;
    --sign-button-hover: var(--checkbox);
    --task-config-button: #b65923;
    --task-config-button-hover: #7a3b14;
    --task-config-button-color: var(--dark-main-background);
    --entry-input-color: var(--dark-main-background);
    --entry-input-background: #f2e7f7;
    --entry-input-hover: #d9c0ea;
    --buttons-input-container-border: var(--task-done-round);
    --buttons-input-container-background: inherit;
    --input-time-color: var(--dark-main-gray-text);
    --input-time-background: #170b17 ;
    --author: #ffeedc;
    --title-color: var(--dark-main-gray-text);
    --title-background: var(--input-time-background);
}


.light{
    --day-selected: var(--light-main-brown-text);
    --day-selected-text: #ffeedc;
    --day-container-color: var(--light-main-brown-text);
    --day-container-background: var(--day-selected-text);
    --checkbox: #ff962d;
    --task-time: #544942;
    --task-border: var(--light-main-brown-text);
    --task-done-round: #ffd0a1;
    --task-undone-round: var(--light-main-brown-text);
    --task-button-color: var(--light-main-brown-text);
    --task-button-background: var(--checkbox);
    --task-button-hover: #8c4f14;
    --change-theme: #10006e;
    --change-theme-hover: #221b50;
    --entry-button-color: var(--light-main-brown-text);
    --entry-button-background: var(--light-main-background);
    --entry-button-hover:#7092b9;
    --main-button: #ff7f00;
    --main-button-color: var(--light-main-brown-text);
    --main-button-shadow: rgba(64, 51, 30, 0.46);
    --main-change-theme-color: var(--light-main-background);
    --main-change-theme-background: var(--light-main-brown-text);
    --main-change-theme-border: var(--light-main-brown-text);
    --sign-button-color: var(--light-main-brown-text);
    --sign-button-background: #ffc891;
    --sign-button-hover: var(--checkbox);
    --task-config-button: #ffb872;
    --task-config-button-hover: #ee7901;
    --task-config-button-color: var(--light-main-brown-text);
    --entry-input-color: var(--light-main-brown-text);
    --entry-input-background: var(--light-main-background);
    --entry-input-hover: var(--day-selected-text);
    --buttons-input-container-border: var(--light-main-brown-text);
    --buttons-input-container-background:  #e0eefe;
    --input-time-color: var(--light-main-brown-text);
    --input-time-background: white ;
    --author: var(--light-main-brown-text);
    --title-color: var(--light-main-brown-text);
    --title-background: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

html.light body{
    background: var(--light-main-background);
    color: var(--light-main-brown-text);
}

html.dark body{
    background: var(--dark-main-background);
    color: var(--dark-main-gray-text);
}


button{
    font-family: 'Raleway', sans-serif;
}

.entry-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.buttons-input-container{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background: var(--buttons-input-container-background);
    border: 0.1rem solid var(--buttons-input-container-border);
}


.buttons-input-container:first-child{
    padding-top: 1.5rem;
}

.author{
    margin:0;
    padding: 0;
    justify-self: center;
    align-self: center;
    margin-top: 85vh;
    font-size: 1rem;
    color: var(--author)
}

.days-container{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 80vw;
    overflow:auto;
    text-align: left;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid transparent;
}
.buttons-task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 96%;
    bottom: 3vh;
}
.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    color:inherit;
    text-decoration: inherit;
}
.task-config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons-task-config-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 7vh;
}
.new-edit-task{
    font-size: 9vh;
    margin: 3rem 2vw;
}
.title{
    padding: 2vh 1rem;
    width: 80%;
    border-radius: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 0.15rem solid var(--title-color);
    color: var(--title-color);
    background: var(--title-background);
}

.description{
    margin: 0;
    padding: 2vh 1rem;
    height: 18vh;
    width: 80%;
    border-radius: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    resize: none;
    border: 0.15rem solid var(--title-color);
    color: var(--title-color);
    background: var(--title-background);
}



.time-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
}
.input-time{
    padding: 1vh;
    border-radius: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-left: 3vh;
    border: 0.15rem solid var(--input-time-color);
    color: var(--input-time-color);
    background: var(--input-time-background);
}

#sign-out-btn{
    justify-self: flex-end;
    align-self: end;
    height: 3vh;
    width: 20vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks-header{
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    margin-bottom: 0;
}
.input-error{
    height: 0.5rem;
    margin-bottom: 0.8rem;
    margin-left: 1.3rem;
    font-size: small;
    color: red;
}

.my-alert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 11vh;
}
