.tasks{
    display: flex;
    flex-direction: column;
}
.skaterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chill{
    margin:0;
    text-align: center;
}
